build
.cache
tags

# Those files are too big. should use lfs at some point...
models/Dragon.fbx
models/PM3D_Cube3D2
blender

# C++ GitIgnore

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake GitIgnore

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# Exclude Out Folder - As Everything there is compiled using CMake

[Oo][Uu][Tt]
